* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    
}
   body{
       width: 100vw;
       height: 100vh;
        background-image:url("./assets/dados.png");
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
   }

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 583px;
    height: 374px;
    flex-shrink: 0;
    margin: 0 auto;
    margin-top: 156px;

}

h2 {

    display: flex;
    justify-content: center;
    width: 299px;
    height: 20px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    margin-top: 80px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.input-min {
    width: 342px;
    height: 60px;
    text-align: center!important;
    padding: 13px 16px 13px 16px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    font-size: 30px;
    color: #ffff;
    margin-top: 30px;
    
}


.input-max {
    width: 342px;
    height: 60px;
    padding: 13px 16px 13px 16px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    font-size: 30px;
    color: #ffff;
    margin-top: 30px;
    text-align: center!important;
}

 .input-min::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
 }
.input-max::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
 }

 .input-min::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
 }
 .input-max::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
 }



button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 342px;
    height: 72px;
    border-radius: 10px;
    background: #d70707;
    box-shadow: 0 18px 40px 0 rgba(234, 29, 6, 0.35);
    margin: 0 auto;
    margin-top: 80px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5px;
    border: none;
    cursor: pointer;
}

button:hover {
   opacity: 0.9; 
}
button:active {
    opacity: 0.8;
}

#paragrafo{
  font-size: 50px;
  font-weight: 800;
  line-height: 2.5px;
  color: #ffff;
  text-align: center;
  margin-top: 50px;
}

@media  (max-width: 768px )and (min-width: 320px) { 
    body{
        background-image:url("./assets/dados.png");
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;
   }
   img {
    width: 300px;
    height: 200px;
    margin-top: 100px;
   }
   h2 {
    font-size: 30px;
    margin-top: 50px;
   }
   .input-min, .input-max {
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-top: 20px;
   }
   button {
    width: 250px;
    height: 60px;
    font-size: 24px;
    margin-top: 50px;
   }
   #paragrafo{
    font-size: 30px;
    margin-top: 30px;
   }
}